@model ProductVM

<div class="card shadow border mt-4 mb-5">
	<div class="card-header bg-dark bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">@(Model.Product.Id!=0?"Update":"Create") product</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" enctype="multipart/form-data">
            
            <input asp-for="Product.Id" hidden />
            
           <div class="row">
               <div class="col-10">
                    <div class="border p-3 mt-4">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>

                        <div class=" py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow textarea"></textarea>
                        </div>


                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Author" class="form-control border-0 shadow" />
                            <label asp-for="Product.Author" class="ms-2"></label>
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Discount" class="form-control border-0 shadow" />
                            <label asp-for="Product.Discount" class="ms-2"></label>
                            <span asp-validation-for="Product.Discount" class="text-danger"></span>
                        </div>
                        <div class="form-check form-switch py-2 col-12">
                            <input class="form-check-input" type="checkbox" asp-for="Product.IsBestSeller" />
                            <label class="form-check-label" asp-for="Product.IsBestSeller"></label>
                            <span asp-validation-for="Product.IsBestSeller" class="text-danger"></span>
                        </div>

                        <div class="form-check form-switch py-2 col-12">
                            <input class="form-check-input" type="checkbox" asp-for="Product.IsAvailable" />
                            <label class="form-check-label" asp-for="Product.IsAvailable"></label>
                            <span asp-validation-for="Product.IsAvailable" class="text-danger"></span>
                        </div>

                        <div class="form-check form-switch py-2 col-12">
                            <input class="form-check-input" type="checkbox" asp-for="Product.IsForKids" />
                            <label class="form-check-label" asp-for="Product.IsForKids"></label>
                            <span asp-validation-for="Product.IsForKids" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>-select category-</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                       
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                            <label asp-for="Product.Images" class="ms-2"></label>
                        </div>

                      
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">Create</button>
                        }
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back to list</a>
                    </div>
               </div>
                <div class="col-2">
                   @if(Model.Product.Images != null){
                       foreach(var image in Model.Product.Images)
                       {
                           <div class="border p-1 m-2 text-center">
                               <img src="@image.ImageUrl" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9" />
                               <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId ="@image.Id">
                                   <i class="bi bi-trash-fill"></i> Delete
                               </a>

                           </div>
                       }
                   }
                </div>
           </div>
			
		</form>

	</div>
</div>


@section Scripts{
    <script>
          tinymce.init({
          selector: 'textarea',
          plugins: [
            'autolink', 'lists', 'link', 'charmap', 'visualblocks', 'wordcount'
          ],
          toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | numlist bullist | removeformat',
          menubar: false, 
          statusbar: false, 
        });

                function deleteImage(id) {
            $.ajax({
                url: '@Url.Action("DeleteImage", "Product")',
                type: 'DELETE',
                data: { id: id },
                success: function() {
                    location.reload();
                }
            });
        }
    </script>
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}